html,html *{box-sizing: border-box !important;}

h1, h2, h3, h4, h5, h6, h7, p {
	font-family: 'Hind Madurai', sans-serif;
}

p{
	font-size: 17px;
}

a{
	color:black;
}

hr {
	border: .5px black solid;
	width: 75%;
  }

a:hover{
	color:black;
}

.project-container{
	margin-top:800px;
	background-color:white;
	margin-bottom:-2px;
	
}



.about-container{
	
	background-color:white;
	padding-top:10px;
	padding-bottom:100px;
	margin-bottom:-20px;
}

#inner-about{
	background-color:white;
	color:black;
}

.project-section{
	background-color:white;
	height:500px;
	

}

.project-link{
	height:200px;
	width:300px;
	background-color:white;
	border-radius:20px;
	border:black solid 2px;
}


#savor{
	background-image: url("./img/savor.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;
	
}

#entertainment-trivia{
	background-image: url("./img/ET.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;
}

#nyt{
	background-image: url("./img/NYT.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;

}

#bio{
	margin-left:5px;
	margin-right:5px;
}

#bio-image{
	height:300px;
	background-color:white;
	margin-bottom:10px;
	border-radius:10px;
	
}

#bImage{
	border-radius:10px;
	height:275px;
	width:200px;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:white;
	background-image: url("./img/bioImage.jpg");
	margin-bottom: 10px;
	border:black solid 2px;
}

#outer-link-container{
	background-color:white;
	padding-top:10px;
	padding-bottom:100px;
	margin-bottom:-42px;
}

.vector{
	height:100px;
	width:100px;
	margin-top:20px;
	color:rgb(7, 7, 44);
}


.well{
	height:800px;
	margin-bottom:-200px;
}

#footer{
	height:300px;
	margin-top:-0px;
	background-color: black;
	color:white;
}

#copyright{
	padding-top:70px;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

#paralax{
		margin-top:50px;
		background-size:100%;
		background-image: url("./img/blue-2.jpg");
		height:100%;
		width:100%;
		position: fixed;	  
}

#button{
	background-color:black;
}


.form-group{
	padding-left:15px;
	padding-right:15px;
}

#head-text1{
	font-family: 'Hind Madurai', sans-serif;
	color:white;
	font-size:75px;
	margin-top:200px;
	text-shadow: 2px 2px rgb(172, 36, 36);
}

#head-text2{
	margin-top:20px;
	font-family: 'Hind Madurai', sans-serif,;
	color:white;
	font-size:30px;
	text-shadow: 2px 2px rgb(172, 36, 36);
}

.icon{
	height:60px;
	width:65px;
	background-color:white;
}

.icon-container{
	background-color:white;
}




/* media query for where the project container meets the parlax image */

@media screen and (max-width: 1000px) {
    .project-container {
        margin-top:600px;
	}
	
	#head-text1{
		font-size:50px;
		margin-top:140px;
		
	}
	
	#head-text2{
		font-size:30px;
		
	}
}

@media screen and (max-width: 868px) {
    .project-container {
        margin-top:520px;
    }
}

@media screen and (max-width: 650px) {

	#head-text1{
		font-size:30px;
		margin-top:110px;
		
	}
	
	#head-text2{
		font-size:15px;
		
	}
    .project-container {
        margin-top:410px;
    }
}

@media screen and (max-width: 570px) {
    .project-container {
        margin-top:360px;
    }
}

@media screen and (max-width: 468px) {
	#head-text1{
		font-size:25px;
		margin-top:70px;
		
	}
	
	#head-text2{
		font-size:15px;
		
	}
    .project-container {
        margin-top:300px;
    }
}

@media screen and (min-width: 1300px) {
	.icon-container{
		margin-left:60px;
	}
}

/* ************************************* */


 












