html,html *{box-sizing: border-box !important;}

.project-container{
	background-color:grey;
	margin-bottom:-2px;
	
}

.about-container{
	background-color:orange;
	padding-top:10px;
	padding-bottom:100px;
	margin-bottom:-20px;
}

#inner-about{
	background-color:green;

}

.project-section{
	background-color:pink;
	height:500px;
	

}

.project-link{
	height:200px;
	width:300px;
	background-color:red;
	border-radius:20px;
}


#savor{
	background-image: url("./img/savor.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;
	
}

#entertainment-trivia{
	background-image: url("./img/ET.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;
}

#nyt{
	background-image: url("./img/NYT.png");
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom: 10px;

}

#bio{
	margin-left:5px;
	margin-right:5px;
}

#bio-image{
	height:300px;
	background-color:pink;
	margin-bottom:10px;
	border-radius:10px;
	
}

#bImage{
	border-radius:10px;
	height:275px;
	width:200px;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:red;
	background-image: url("./img/bioImage.jpg");
	margin-bottom: 10px;
}

#outer-link-container{
	background-color:purple;
	padding-top:10px;
	padding-bottom:100px;
	margin-bottom:-42px;
}

.vector{
	height:100px;
	margin-top:20px;
}

#contact-container{
	margin-bottom:-60px;
}

#footer{
	background-color:green;
	height:150px;
}

#copyright{
	padding-top:70px;
}





